@font-face {
  font-family: "iconfont"; /* Project id 4180913 */
  src: url('chrome-extension://nhccopckhjkdhjfllgemjmfnhoklcfna/src/css/iconfont.woff2?t=1690186260563') format('woff2'),
        url('chrome-extension://nhccopckhjkdhjfllgemjmfnhoklcfna/src/css/iconfont.woff?t=1690186260563') format('woff'),
        url('chrome-extension://nhccopckhjkdhjfllgemjmfnhoklcfna/src/css/iconfont.ttf?t=1690186260563') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-self: stretch; /* 本元素两端对齐 */
  /* 子元素垂直居中 */
  display: flex;
  align-items: center;
  /* 子元素垂直居中 */
}

.icon-add:before {
  content: "\e600";
}

.icon-sort:before {
  content: "\e63b";
}
